.Register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F2F2F2;
    width: 100%;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 40%;
    min-height: 95vh;
}
.heading{
    font-family: 'Lobster', cursive;
    font-weight: 450;
    font-size: 2rem;
}

.registerForm > p{
    color: #837f7f;
    font-weight: 400;
    text-align: center;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    min-height: 50vh;
}

.inputGroup > input{
    width: 100%;
    height: 35px;
    padding: 2%;
}
.small{
    font-size: 12px;
}

.registerForm > button{
    border: none;
    background-color: #0095F6;
    color: white;
    text-align: center;
    width: 60%;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.toLogin{
    color: #0095F6;
    text-decoration: none;
}
@media screen and (max-width: 768px){
    .heading{
        font-size: 2rem;
    }
    .registerForm{
        width: 75%;
    }
}